@media only screen and (min-width: 400px) {
	html {
		font-size: 21.33333333px !important;
	}
}
@media only screen and (min-width: 414px) {
	html {
		font-size: 21px !important;
	}
}
@media only screen and (min-width: 480px) {
	html {
		font-size: 25.6px !important;
	}
}
.deal{
	width: 100%;
	height: 100%;
	background: url(../img/home-bg.png);
	background-size: 100% 100%;
	position: relative;
	/*display: none;*/
}
.dealhead{
	position: relative;
	width: 100%;
	padding-top: 20px;
	z-index: 2;
	overflow: hidden;
}
.dealwidth{
	width: 14%;
	/*float: left;*/
	/*z-index: 2;*/
}
.dealment{
	width: 84%;
	/*float: left;*/
	/*z-index: 2;*/
}
.dealtop{
	width: 92%;
	/*position: absolute;*/
	margin-left: 4%;
	margin-top: -14.5%;
	float: left;
	z-index: 3;
}
.dealsculp{
	position: absolute;
	right: 6%;
	width: 16%;
	margin-top: -1%;
}
.dealname{
	position: absolute;
	right: 7%;
	margin-top: 1%;
	font-size: 0.75rem;
	line-height: 1.4;
	color: brown;
	background-color: #e7c55f;
	border-radius: 6px;
	width: 36%;
	text-align: center;
	border: 2px solid #ce9f22;
}
/*.....*/
#dealsec{
	position: relative;
	width: 100%;
	height: 79%;
}
.dealsection{
	width: 79%;
	background-image: url(../img/board.png);
	background-size: 100% 100%;
	position: relative;
	left:16%;
    top: -20px;
	z-index: 1;
	height: 100%;
}
.dealselect{
	position: absolute;
	width: 10%;
	left: 6%;
	top: 2%;
}
.dealselect img{
	/*display: block;*/
	width: 100%;
}
.back{
	position: absolute;
	width: 14%;
	left: 8%;
	margin-top: 5%;
}
.dealboard{
	position: relative;
	left: 3%;
	top: 23px;
	background-image: url(../img/paper.png);
	background-size: 100% 100%;
	width: 94%;
	height: 88%;
	border-top: 1px solid transparent;
	display: none;
}
.dealboard input{
	width: 82%;
	display: block;
	margin-left: 9%;
	border-radius: 10px;
	background: rgb(218,230,192);
	margin-top: 14px;
	border: none;
	height: 1.4rem;
	outline: none;
	text-indent: 0.5em;
}

.man,.woman{
	width: 0.8rem;
	height: 0.8rem;
	
	border-radius: 0.8rem;
	display: inline-block;
	margin-left: 2%;
	border: 1px solid goldenrod;
}
.man{
	background: #F76249;
}
.confirm{
	margin-left: 9%;
	margin-right: 9%;
	height: 2.6rem;
	background-image: url(../img/btn.png);
	background-size: 100% 100%;
	margin-top: 16px;
	/*font-size: rem;*/
	line-height: 2.4rem;
	color: white;
	text-align: center;
	clear: both;
}
.chicken{
	width: 30px;
	position: absolute;
	left: 50%;
	margin-left: -40px;
	margin-top: 15px;
}
.storage{
	/*position: relative;*/
	float: left;
	margin-left: 50%;
	line-height: 30px;
	margin-top: 15px;
	margin-bottom: 5px;
	/*font-size: 0.9rem;*/
	color: brown;
	font-weight: bold;
}
.expense{
	clear: both;
	text-align: center;
	/*font-size: 0.9rem;*/
	font-weight: bold;
	color: brown;
}
.transfer,.transferwd{
	/*display: inline-block;*/
	float: left;
	margin-top: 14px;
}
.transfer{
	height: 1.4rem;
	width: 50px;
	background: rgb(218,230,192);
	border-radius: 16px;
	margin-left: 10%;
	
	position: relative;
}
.btnon{
	height: 1.5rem;
	width: 1.5rem;
	position: absolute;
	background-image: url(../img/btn-off.png);
	background-size: 100% 100%;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 0.7rem;
	line-height: 1.5rem;
	top: -0.05rem;
	left: 0;
}
.transferwd{
	font-size: 0.7rem;
	line-height: 1.4rem;
	margin-left: 2%;
	color: brown;
	margin-bottom: 14px;
}
.dealtable{
	position: relative;
	left: 3%;
	top: 23px;
	/*background-image: url(../img/paper.png);
	background-size: 100% 100%;*/
	width: 94%;
	height: 90%;
	/*border: 2px solid brown;*/
	/*box-sizing: border-box;*/
}
.buy{
	float: left;
	/*height: 1.5rem;*/
	line-height: 1.6rem;
	color: brown;
	width: 49%;
	text-align: center;
	/*background-color: white;*/
	background-image: url(../img/btn-left.png);
	background-size: 100% 100%;
	/*border-radius: 6px 6px 0px 0px/6px 6px 0px 0px;*/
	/*box-sizing: border-box;*/
	/*border: 2px solid sandybrown;*/
	font-size: 0.9rem;
}
.sell{
	float: right;
	/*height: 1.5rem;*/
	line-height: 1.6rem;
	color: brown;
	width: 49%;
	text-align: center;
	/*border-radius: 6px 6px 0px 0px/6px 6px 0px 0px;*/
	/*box-sizing: border-box;*/
	background-image: url(../img/btn-reigth.png);
	background-size: 100% 100%;
	font-size: 0.9rem;
}
.tableboard{
	width: 100%;
	text-align: center;
	
}
.title td{
	border: 0;
	color: white;
	background-color: rgb(241,149,30);
	font-size: 0.7rem;
}
.content td{
	border: 0;
	color: brown;
	font-size: 0.7rem;
}
.lower,.upper{
	position: absolute;
	bottom: 0;
}
.upper{
	width: 17%;
	left: 13%;
}
.lower{
	width: 17%;
	right: 13%;
}
.number{
	width: 30%;
	position: absolute;
	left: 35%;
	bottom: 5px;
	height: 1.9rem;
	background-image: url(../img/number.png);
	background-size: 100% 100%;
}
