.farm{
	width: 100%;
	height: 100%;
	background: #f3c580;
	position: relative;
}
ul{
	list-style-type: none;
}
@media only screen and (min-width: 400px) {
	html {
		font-size: 21.33333333px !important;
	}
}
@media only screen and (min-width: 414px) {
	html {
		font-size: 21px !important;
	}
}
@media only screen and (min-width: 480px) {
	html {
		font-size: 25.6px !important;
	}
}
.head{
	width: 100%;
	position: absolute;
	height: 1.1rem;
	top: 0;
	left: 0;
	background-color: rgb(223,248,255);
}
.left{
	width: 7.9rem;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: yellow;
	
}
.left img{
	height: 0.86rem;
	margin-left: 5px;
	padding-top: 0.12rem;
	float: left;
}
.left span{
	float: left;
	height: 1.1rem;
	line-height: 1.1rem;
	font-size: 0.6rem;
	margin-left: 0.4rem;
	
}
.right{
	height: 100%;
	margin-left: 7.9rem;
	margin-right: 0;
	background: greenyellow;
	position: relative;
	overflow: hidden;
}
.right span{
	position: absolute;
	height: 100%;
	left:0;
	top: 0;
	font-size: 0.6rem;
	line-height: 1.1rem;
	width: 12rem;
	/*background: red;*/
}
.top{
	background-image: url(../img/userBox.png);
	background-size: 100% 100%;
	position: absolute;
	top: 1.1rem;
	width: 100%;
	left: 0;
	margin-top: 6px;
	/*overflow: hidden;*/
}
.name,.chicken,.egg{
	height: 0.9rem;
	background: rgb(231,197,95);
	/*float: left;*/
	position: absolute;
	border-radius: 10px;
}
.name{
	width: 42%;
	left: 22%;
	top: 0.4rem;
	/*bottom: 0.7rem;*/
	text-align: left;
}
.egg{
	left: 22%;
	width: 20%;
	
	text-align: right;
	/*top: 1.6rem;*/
	bottom: 0.8rem;
 }
.chicken{
	width: 20%;
	right: 36%;
	
	text-align: right;
	/*top: 1.6rem;*/
	bottom: 0.8rem;
}
.name img{
	float: right;
	height: 130%;
	margin-top: -2px;
}
.egg img,.chicken img{
	float: left;
	height: 100%;
}
.nspan,.espan,.cspan{
	float: right;
	height: 100%;
	line-height: 0.9rem;
	font-size: 0.6rem;
	color: brown;
}
.nspan{
	float: left;
	margin-left: 3px;
	
}
.espan,.cspan{
	margin-right: 3px;
}
.sculpimg{
	float: left;
	margin-left: 6%;
	width: 13%;
	margin-top: 0.48rem;
	margin-bottom: 0.7rem;
	z-index: 2;
}
.set,.mail{
	/*position: absolute;*/
	float: right;
	width: 13%;
	margin-top: 0.5rem;
	z-index: 2;
	
}
.mail{
	margin-right: 5%;
}
.set{
	margin-right: 3%;
}
.lvine{
	position: absolute;
	left: 0;
	height: 133%;
	width: 20%;
	z-index: 1;
}
.rvine{
	position: absolute;
	right: 0;
	height: 133%;
	width: 20%;
	z-index: 1;
}
.back{
	position: absolute;
	height: 50%;
	top: 85%;
	left: 3.5%;
	z-index: 1;
}
.reload{
	position: absolute;
	height: 50%;
	top: 85%;
	right: 3.5%;
	z-index: 1;
}
.farmboard{
	position: absolute;
	bottom: 0;
	width: 100%;
	/*background-image: url(../img/floor2.png);*/
	/*background-size: 100% 100%;*/
	/*margin-top: 10;*/
	/*border-top: 1px solid transparent;*/
	overflow-y: auto;
	
}
.farmboard::-webkit-scrollbar{width:0px;}
.farmboard::-moz-scrollbar{width:0px;}
.farmboard::-ms-scrollbar{width:0px;}
.farmboard::-o-scrollbar{width:0px;}
.farmboard::scrollbar{width:0px;}
bottom{
	position: absolute;
	width: 100%;
	height: 7%;
	bottom: 0;
	background-image:url(../img/desktop.png);
	background-size: 100% 100%;
}
.field{
	
	margin-top: 10%;
	margin-left: 20px;
	margin-right: 20px;
	background: #e29c72;
	/*position: relative;*/
	z-index: 0;
	/*opacity: 0.2;*/
	
}
.greenfield{
	float: left;
	width: 33.3%;
	/*margin-left: 1%;*/
	background-image: url(../img/green-field.png);
	background-size: 100% 100%;
	z-index: 0;
	position: relative;
}
.goldfield{
	float: left;
	width: 33.3%;
	/*margin-left: 1%;*/
	background-image: url(../img/gold-field.png);
	background-size: 100% 100%;
	z-index: 0;
	position: relative;
}
.bottomimg{
	/*display: inline-block;*/
	width: 20%;
	float: left;
	
}
.bot{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.run{
	/*position: absolute;*/
	width: 38%;
	height: 47%;
	/*background: red;*/
	animation: runmove 5s linear infinite;
	-webkit-animation: runmove 5s linear infinite;
}
@-webkit-keyframes runmove{
	0%,100%{
		transform: translate3d(0,0,0);
		-webkit-transform:translate3d(0,0,0);
	}
	50%{
		transform: translate3d(163%,0,0);
		-webkit-transform: translate3d(158%,0,0);
	}
}
.runfish{
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(../img/run.png);
	background-size: 900%;
	-webkit-animation: runfish 5s steps(8) infinite;
	
}
@-webkit-keyframes runfish{
	0%{
		background-position: 0;
	}
	100%{
		background-position: 100%;
	}
}
.friend{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	display: none;
	z-index: 1;
}
.friendboard{
	position: absolute;
	width: 88%;
	height: 80%;
	left: 6%;
	top: 8%;
	background-image: url(../img/floor.png);
	background-size: 100% 100%;
}
.friendlist{
	text-align: center;
	color: white;
	line-height:2.4;
	font-size: 0.9rem;
	padding-top: 4%;
}
.fclose{
	position: absolute;
	right: 0;
	width: 14%;
}
.friendin{
	position: absolute;
	width: 86%;
	left: 7%;
	top: 4rem;
	bottom: 5rem;
	background-color:#d0c7a7;
	border: 2px solid #ac8207;
	border-radius: 8px;
	box-sizing: border-box;
	overflow: auto;
}
.friendin::-webkit-scrollbar{width:0px;}
.friendin::scrollbar{width:0px;}
.show{
	margin: 10px 10px;
	/*height: 20px;*/
	border: 1px solid #ac8207;
	border-radius: 8px;
	position: relative;
	background-color: rgb(246,234,180);
}
.sweep,.invite{
	position: absolute;
	width: 40%;
	/*left: 6%;*/
	height: 2.4rem;
	bottom: 1.6rem;
	background-image: url(../img/btn.png);
	background-size: 100% 100%;
	color: white;
	text-align: center;
	line-height: 2.4rem;
	font-size: 0.8rem;
	/*font-weight: bold;*/
	
}
.invite{
	right: 6%;
}
.sweep{
	left: 6%;
}
.fsculp{
	/*width: 18%;*/
	height: 2.7rem;
	position: absolute;
	left: 2%;
	top: 4px;
}
.nickname{
	float: left;
	font-size: 0.7rem;
	color: #ac8207;
	/*margin-left: 26%;*/
	margin-left: 3.2rem;
	margin-top: 0.5rem;
	/*margin-bottom: 4px;*/
}
.sweped{
	float: left;
	/*width: 22%;*/
	height: 1.2rem;
	margin-bottom: 0.4rem;
}
.number{
	/*margin-left: 26%;*/
	margin-left: 3.2rem;
	width: 40%;
	clear: both;
	height: 0.9rem;
	/*margin-top: 5px;*/
	background: white;
	border-radius: 8px;
	background: #fffae4;
}
.number img{
	height: 100%;
	float: left;
}
.count{
	font-size: 0.6rem;
	display: inline-block;
	line-height: 0.9rem;
	float: left;
	margin-left: 2px;
	color: #ac8207;
}
.visit{
	position: absolute;
	width: 24%;
	right: 4%;
	top: 1.2rem;
	height: 1.4rem;
	background-image: url(../img/send.png);
	background-size: 100% 100%;
	text-align: center;
	font-size: 0.6rem;
	color: white;
	line-height: 1.4rem;
}
.message{
	width: 100%;
	margin-top: 0.6rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	/*overflow: hidden;*/
	background-color: rgb(241,220,124);
	position: relative;
	border-radius: 0 0 8px 8px/0 0 8px 8px;
}
.message:after{
	width: 100%;
	content:"";
	display:block;
	height:0;
	clear: both;
}
.personmessage{
	line-height: 1rem;
	height: 1rem;
	font-size: 0.6rem;
	float: left;
	color: #ac8207;
	font-weight: bold;
	margin-left: 3%;
}
.nameboard{
	/*width: 40%;*/
	height: 1rem;
	font-size: 0.6rem;
	line-height: 1rem;
	background-color: #fffae4;
	border-radius: 8px;
	/*color: white;*/
	float: left;
	/*overflow: hidden;*/
	margin-left: 2%;
}
.headthen{
	height: 100%;
	float: left;
}
.personname{
	height: 100%;
	line-height: 1rem;
	float: left;
	color: #ac8207;
	margin-right: 4px;
	
}
.telboard{
	/*width: 40%;*/
	height: 1rem;
	font-size: 0.6rem;
	line-height: 1rem;
	background-color: #fffae4;
	border-radius: 8px;
	/*color: white;*/
	float: left;
	margin-left: 2%;
}
.phonethen{
	height: 100%;
	float: left;
}
.tel{
	height: 100%;
	line-height: 1rem;
	float: left;
	color: #ac8207;
	margin-right: 4px;
}
.mailbox{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	display: none;
	z-index: 1;
}
.mailboard{
	position: absolute;
	width: 88%;
	height: 80%;
	left: 6%;
	top: 8%;
	background-image: url(../img/floor.png);
	background-size: 100% 100%;
}
.myhouse{
	text-align: center;
	color: white;
	line-height:1;
	font-size: 0.9rem;
	padding-top: 4%;
}
.hclose{
	position: absolute;
	right: 0;
	width: 14%;
	top: 0;
}
.housein{
	position: absolute;
	width: 86%;
	left: 7%;
	top: 16%;
	bottom: 7%;
	background-color:#d0c7a7;
	border: 2px solid #ac8207;
	border-radius: 8px;
	box-sizing: border-box;
	overflow: auto;
}
.hbox{
	margin: 10px 10px;
	/*height: 20px;*/
	border: 1px solid #ac8207;
	border-radius: 8px;
	position: relative;
	background-color: rgb(246,234,180);
	
}
.hsculp{
	position: absolute;
	height:2.7rem;
	left: 0.3rem;
	top: 0.2rem;
}
.nameword{
	margin-left: 3.2rem;
	margin-top: 0.6rem;
	font-size: 0.7rem;
	/*height: 1rem;*/
	line-height: 1;
}
.hword{
	margin-left: 3.2rem;
	font-size: 0.7rem;
	height: 0.9rem;
	line-height: 0.9rem;
	margin-top: 0.6rem;
	margin-bottom: 0.3rem;
	border-radius: 8px;
	width: 36%;
	background: white;
}
.rbutton{
	position: absolute;
	top: 1.2rem;
	background-image: url(../img/send.png);
	background-size: 100% 100%;
	right: 2%;
	width: 25%;
	height: 1.5rem;
	line-height: 1.5rem;
	/*background: red;*/
	color: white;
	font-size: 0.6rem;
	text-align: center;
}
