.wrap{
	width: 100%;
	height: 100%;
	background-image: url(../img/loginbg.png);
	background-size: 100% 100%;
}
.title{
	/*position: absolute;*/
	width: 86%;
	margin-left: 7%;
}
.login{
	width: 70%;
	background-color: rgba(207,242,250,0.7);
	margin-left: 15%;
	margin-top: 10px;
	border-radius: 8px;
	border-top: 1px solid transparent;
}
.text1{
	width: 78%;
	outline: none;
	margin-left: 11%;
	height: 1.375rem;
	/*22px*/
	margin-top: 0.75rem;
	border-radius: 16px;
	border: 0;
	background-color:rgb(104,211,251);
	opacity: 1;
	/*text-align: left;*/
	position: relative;
	font-size: 0.7rem;
	color: white;
	font-weight: bold;
}
.word{
		position: absolute;
		left: 0;
		width: 22%;
		text-align: center;
		height: 100%;
		top: 0;
		line-height: 1.375rem;
		}
.phonenumber,.password{
	position: absolute;
	height: 100%;
	left: 24%;
	right: 0;
	width: 70%;
	top: 0;
	background-color: transparent;
	border: 0;
	outline: none;
	line-height: 1.375rem;
	color: white;
	}
	
	.btn{
		width: 68%;
		height: 2.5rem;
		margin-left: 16%;
		margin-top: 0.75rem;
		position: relative;
		padding-bottom: 17px;
	}
	.word2{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		text-align: center;
		line-height: 2.3rem;
		font-size: 0.9rem;
		color: white;
		
	}
@media only screen and (min-width: 400px) {
	html {
		font-size: 21.33333333px !important;
	}
}
@media only screen and (min-width: 414px) {
	html {
		font-size: 21px !important;
	}
}
@media only screen and (min-width: 480px) {
	html {
		font-size: 25.6px !important;
	}
}
.forget{
	position: absolute;
	width: 4rem;
	right: 10px;
	bottom: 10px;
}
.pnumber,.pnumber2{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	display: none;
}
.pnumberboard,.pnumberboard2{
	position: absolute;
	width: 80%;
	left: 10%;
	top: 40%;
	height: 36%;
	background-image: url(../img/alertBoard.png);
	background-size: 100% 100%;
}
.enter,.enter2{
	position: absolute;
	width: 100%;
	top: 20%;
	left: 0;
	text-align: center;
	font-size: 1rem;
	color: saddlebrown;
}
.confirmbtn,.confirmbtn2{
	position: absolute;
	width: 90%;
	height: 22%;
	left: 5%;
	bottom: 10%;
}
.fgpw{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	display: none;
}
.fgpwboard{
	position: absolute;
	width: 80%;
	left: 10%;
	top: 24%;
	/*height: 40%;*/
	background-image: url(../img/forgetpassword-board.png);
	background-size: 100% 100%;
	outline: none;
}
.fgback{
	position: absolute;
	width: 92%;
	height: 100%;
	top: 0;
	left: 5%;
}

::-webkit-input-placeholder { /* WebKit browsers */ 
color:saddlebrown; 
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color:saddlebrown;
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color:saddlebrown;
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color:saddlebrown;
} 
.close{
	position: absolute;
	width: 16%;
	right: 0;
	top: 0;
}
.regested,.idfcode,.newpw,.confirm{
	height: 1.6rem;
	border-radius: 16px;
	outline: none;
	border: 0;
	background-color: #e7c55f;
	text-align: center;
	color: saddlebrown;
	font-size: 1rem;
	line-height: 1.6rem;
	margin-left: 9%;
	margin-top: 12px;
	width: 82%;
}
.regested{
	margin-top:18%;
}
.idfcode{
	width: 42%;
	float: left;
}
.sendidfcode{
	width: 30%;
	float: right;
	margin-top:11px;
	margin-left: 0;
	margin-right: 9%;
	height: 1.8rem;
}
.newpw{
	clear: both;
}
.confirmchange{
	width: 82%;
	background-image: url(../img/btn.png);
	background-size: 100% 100%;
	margin-left: 9%;
	margin-top: 50px;
	margin-bottom: 1.2rem;
	height: 2.9rem;
	line-height: 2.6rem;
	font-size: 1.3rem;
	color: white;
	text-align: center;
}
